apiVersion: "gravitee.io/v1alpha1"
kind: "ApiV4Definition"
metadata:
    name: "{{ .Id }}-example-v4-gko-api"
spec:
    name: "{{ .Title }} Example V4 GKO API"
    type: "PROXY"
    flows:
      - name: "Common Flow"
        enabled: true
        selectors:
          - type: "HTTP"
            path: "/"
            pathOperator: "STARTS_WITH"
        {{ .Properties.phase }}:
          - name: "{{ .Title }}"
            enabled: true
            policy: "{{ .Id }}"
            configuration:
              {{ indent 14 .Configuration }}
