
{{ range $col := .Columns }}| {{ $col.Label }}{{- end }} |
{{ range $_ := .Columns }}| --- {{ end }} |
{{ range $row := .Rows }}
{{- range $col := $.Columns -}}
| {{ default (asTick (index $row.Data $col.Id)) " " -}}
{{ end }} |
{{ end -}}