apiVersion: "gravitee.io/v1alpha1"
kind: "ApiV4Definition"
metadata:
    name: "{{ .ID }}-message-v4-api-crd"
spec:
    name: "{{ .Title }} example with V4 API CRD"
    type: "MESSAGE"
    flows:
      - name: "Common Flow"
        enabled: true
        selectors:
            matchRequired: false
            mode: "DEFAULT"
        {{ .Properties.phase }}:
          - name: "{{ .Title }}"
            enabled: true
            policy: "{{ .ID }}"
            configuration:
              {{ indent 14 .Node }}
