apiVersion: "gravitee.io/v1alpha1"
kind: "ApiV4Definition"
metadata:
    name: "{{ .ID }}-example-v4-api-crd"
spec:
    name: "{{ .Title }} example with V4 API CRD"
    type: "PROXY"
    flows:
      - name: "Common Flow"
        enabled: true
        selectors:
          - type: "HTTP"
            path: "/"
            pathOperator: "STARTS_WITH"
        {{ .Properties.phase }}:
          - name: "{{ .Title }}"
            enabled: true
            policy: "{{ .ID }}"
            configuration:
              {{ indent 14 .Node }}
