
### Compatible with API type:
{{ range $_, $t := .Plugin.ApiTypes }}
* `{{ upper $t }}`
{{- end }}

### Can be used in flow phases:
{{ range $_, $p := .Plugin.FlowPhases }}
* {{ title $p }}
{{- end }}