# {{ .Plugin.Title }}

## Overview
{{ .Overview.Content }}
{{ if .Usage.Exists }}

## Usage
{{ .Usage.Content }}
{{ end }}
{{ if .Errors.Exists }}

## Errors
{{ .Errors.Content }}
{{end }}

## Phases
The phases checked below are supported by the `{{ .Plugin.ID }}` policy:
{{ .Phases.Content }}

## Compatibility matrix
{{ .Matrix.Content }}

{{ if .Gateway_config.Exists }}
## Configuration
### Gateway configuration
{{ .Gateway_config.Content }}

### Configuration options
{{ else -}}
## Configuration Options
{{ end }}
{{ .Configuration_options.Content}}

## Examples
{{ .GenExamples.Content }}
{{ .RawExamples.Content }}

## As Yaml with comments
```yaml
{{ .Yaml.Content }}
```

## Changelog

{{ mvmdheader 1 .ChangeLog.Content }}

## Environment variable

{{ .Env.Content }}